.panel {
	height: 100%;
	width: 20%;
	float: left;
			
	background-color: #A9A9A9;
  	padding: 10px;
  
}
		
.options {
	height: 14.18%;
	width: 100%;
	float: left;

	background-color: #666;
	outline: 2px solid #bcbcbc;
  	padding: 5px;
  	text-align: center;
  	color: white;	
}