.businessCard_Container {
	height: 100%;
	width: 100%;
	float: left;
			
	background-color: #ffffff;
  	padding: 10px;
}
		
.businessCard {
	height: 25%;
	width: 15%;
	float: left;
			
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
			
	margin-top:10px;
	margin-right:10px;
	margin-bottom:10px;
	margin-left:10px;
			
	background-color: #d3d3d3;
}
		
.businessCardBanner {
	height: 40%;
	width: 100%;
	float: left;
			
	border-style: outset;
	border-color: gray;
	border-width: 3px;
	border-top-right-radius: 10px;
	border-top-left-radius: 10px;
}
		
.businessCardInfo {
	height: 60%;
	width: 100%;
	float: left;
			
	background-color: #d3d3d3;
	border-bottom-right-radius: 5px;
	border-bottom-left-radius: 5px;
}
		
.businessCardInfo:hover {
	opacity: 0.1;
	background-color: #ffffff;
}